@mixin screen-size($size) {
    @media (max-width: $size) {
        @content;
    }
}

.layout {
    width: 100%;
    margin: 0 auto;
    columns: 5;
    column-gap: 10px;
    padding: 1rem;

    @include screen-size(1000px) {
        columns: 4;
    }

    @include screen-size(768px) {
        columns: 3;
    }

    @include screen-size(480px) {
        columns: 2;
    }

    @include screen-size(360px) {
        columns: 1;
    }

    &__row {
        width: 100%;
        margin-bottom: 10px;
        break-inside: avoid;

        &--hide {
            display: none;
        }

        & .title {
            text-align: center;
        }

        & .bg {
            background-color: #f7f7f796;
            border-radius: 10px 10px 0 0;
            position: relative;

            & > img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 10px 10px 0 0;
            }
        }

        & .detail {
            &.is-edit {
                gap: 0px !important;
            }

            font-size: 18px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 6px;
            background-color: #fff;
            padding: 8px;
            border-radius: 0px 0px 10px 10px;

            @include screen-size(1245px) {
                gap: 18px;
            }
        }

        .option {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px;

            & .price {
                font-size: 22px;
            }

            @include screen-size(1245px) {
                flex-direction: column;
            }
        }
    }

    &__select {
        font-size: 16px;
    }

    &__watermark {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #f7f7f796;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
    }

    &__sold {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        text-shadow: 3px 3px 5px #0c0c0c;
        color: #fff;
    }
}

.icon-fixed {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & span {
        width: 100%;
        height: 46px;
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
        margin-bottom: 10px;
    }

    &__item {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}

.loading {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-product {
    position: fixed;
    z-index: 1;
    bottom: 2%;
    left: 2%;
    background-color: #fff;
    padding: 6px 10px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-input {
    padding: 0 1rem;
    width: 100%;

    ::ng-deep mat-form-field {
        width: 100%;
        
        & .mat-mdc-form-field-subscript-wrapper {
            display: none !important;
        }
    }
}