<ng-container *ngIf="isLoading" [ngTemplateOutlet]="isLoad"></ng-container>

<button
    *ngIf="isEdit"
    type="button"
    class="add-product"
    (click)="addProduct()">
    Agregar Producto
</button>

<div class="icon-fixed" *ngIf="totalCheckedItems">
    <span class="icon-fixed__item">
        {{ totalCheckedItems }} Producto{{ textIsManyItemSelected }} <br> seleccionado{{ textIsManyItemSelected }}
    </span>
    <a [href]="'https://wa.me/+51910889600/?text=Hola, estoy interesad@ por los siguientes productos con número: ' + listIdsCheckedItems">
        <img src="./assets/images/icon-whatsapp.png" width="70" alt="">
    </a>
</div>

<ng-container *ngIf="isEdit">
    <div class="search-input">
        <mat-form-field>
            <mat-label>Buscar por número de producto</mat-label>
            <input matInput [(ngModel)]="searchHash" (keyup)="searchByAttribute()">
        </mat-form-field>
    </div>
</ng-container>

<div
    *ngIf="!isLoading"
    class="layout"
    [style.grid-template-columns]=" isBreakpointsSmall ? 'repeat(1, 1fr)' : ''">
    <div class="layout__row" *ngFor="let item of bisuteria; let i = index; trackBy: itemTrackBy" [attr.hash]="i + 1">
        <div class="bg">
            <img [src]="item.image" loading="lazy" alt="">
            <div class="layout__watermark" *ngIf="item.sold"></div>
            <span class="layout__sold" *ngIf="item.sold">{{ textSoldOut }}</span>
        </div>
        <div class="detail" [class.is-edit]="isEdit">
            <span class="title" *ngIf="isEdit">#{{ (i + 1) }}</span>
            <span class="title" *ngIf="!isEdit">#{{ (i + 1) + ' - ' + item.title }}</span>
            <div class="option" *ngIf="!isEdit">
                <span class="price">S/. {{ item.price }}</span>
                <div>
                    <span class="layout__select">{{ item.sold ? textSoldOut : 'Seleccionar' }}</span>
                    <mat-checkbox *ngIf="!item.sold" [(ngModel)]="item.check" (change)="onChecked((i + 1), item)"></mat-checkbox>
                </div>
            </div>
            <app-customers-edition
                *ngIf="isEdit"
                [item]="item"
                (onDelete)="delete(item)"
                (onSoldOut)="soldOut(item)"
                (onInStock)="inStock(item)"
                (onUpdateArticle)="updateArticle(item)"
            ></app-customers-edition>
        </div>
    </div>
</div>

<ng-template #isLoad>
    <div class="loading">Cargando productos...</div>
</ng-template>