.forms {
    padding: 0 10px;

    & mat-form-field {
        width: 100%;
        font-family: 'Pacifico', cursive !important;
    }
}

.options {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
}