<!-- {{ item | json }} -->

<div class="forms mt-4">
    <mat-form-field>
        <mat-label>Título</mat-label>
        <textarea matInput [(ngModel)]="item.title" [rows]="5"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Precio</mat-label>
        <input matInput [(ngModel)]="item.price">
    </mat-form-field>
</div>

<div class="options">
    <button
        *ngIf="!item.sold"
        mat-raised-button
        (click)="onSoldOut.emit(item)"
        [disabled]="item.sold">
        Agotado
    </button>
    <button
        *ngIf="item.sold"
        mat-raised-button
        color="primary"
        (click)="onInStock.emit(item)"
        [disabled]="!item.sold">
        En Stock
    </button>
    <button mat-raised-button (click)="onUpdateArticle.emit(item)">Actualizar Datos</button>
    <button mat-raised-button color="warn" (click)="onDelete.emit(item)">Eliminar</button>
</div>