.forms {
    padding: 0 10px;

    & mat-form-field {
        width: 100%;
        font-family: 'Pacifico', cursive !important;
    }
}

mat-spinner {
    width: 22px !important;
    height: 22px !important;
}

.save-loading-button {
    display: flex;
    align-items: center;
    gap: 8px;
}