<div class="modal-header">
    <span>Agregar</span>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div class="forms" [formGroup]="form">
        <mat-form-field>
            <mat-label>Imagen</mat-label>
            <input matInput formControlName="image">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Precio</mat-label>
            <input matInput formControlName="price">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Título</mat-label>
            <textarea matInput formControlName="title" [rows]="5"></textarea>
        </mat-form-field>
    </div>
</div>

<div class="modal-footer">
    <button mat-raised-button (click)="bsModalRef.hide()">Cerrar</button>
    <button
        mat-raised-button
        color="primary"
        [disabled]="!form.valid"
        (click)="onSubmit()">
        <ng-container [ngTemplateOutlet]="saveTextButton"></ng-container>
    </button>
</div>

<ng-template #saveTextButton>
    <ng-container *ngIf="isLoading">
        <div class="save-loading-button">
            <mat-spinner></mat-spinner>
            <span>Guardando...</span>
        </div>
    </ng-container>

    <ng-container *ngIf="!isLoading">Agregar</ng-container>
</ng-template>
