@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    font-family: 'Pacifico', cursive !important;
    background-image: linear-gradient(45deg, #e5e4f6, #dedcea);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
